.navbar {
    box-sizing: border-box;
    width: 100%;
    background-color: green;
    opacity: 0.5;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: white;
}

.navbar_header {
    font-weight: 700;
    font-size: 22px;
    font-style: normal;
    color: rgb(255, 255, 255);
    line-height: 22px;
    text-decoration: none;
    transform: none;
    font-family: Quicksand;
    letter-spacing: 0;
}

.navbar ul a {
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: rgb(216, 227, 213);
    line-height: 24px;
    text-decoration: none;
    transform: none;
    font-family: Quicksand;
    letter-spacing: 0;
}

.navbar li {
    margin-left: 15px;
}